.container {
  margin: 6.4rem auto;
  padding: 0 3.2rem;
  max-width: 72rem;

  h1 {
    margin-top: 8rem;
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 5.8rem;
  }
}

.banner {
  width: 100%;
  max-height: 50rem;
}

.info {
  display: flex;
  align-items: center;
  margin-top: 2.4rem;
  font-size: 1.4rem;
  line-height: 1.7rem;
  color: var(--gray-200);

  svg {
    margin-right: 0.8rem;
  }

  time,
  svg + span {
    margin-right: 2.4rem;
  }
}

.content {
  margin-top: 6.4rem;

  h2 {
    font-size: 3.6rem;
    line-height: 5rem;
    margin-bottom: 4rem;
  }

  p {
    font-size: 1.8rem;
    line-height: 2.5rem;
  }

  a {
    color: var(--pink-500);
    text-decoration: none;

    transition: filter 0.2s;
    &:hover {
      text-decoration: underline;
      filter: brightness(0.8);
    }
  }
}
